<a href="https://colab.research.google.com/github/Rishit02/FPL/blob/master/FPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Credit to: https://towardsdatascience.com/fantasy-premier-league-value-analysis-python-tutorial-using-the-fpl-api-8031edfe9910#a7da

Import the relevant modules

In [19]:
import requests
import pandas as pd
import numpy as np

In [20]:
# The API url is:
url = "https://fantasy.premierleague.com/api/bootstrap-static/"
# Using the requests package to make a GET request from the API endpoint:
r = requests.get(url)
# Transforming that request into a json object
json = r.json()
print(json.keys())
# Building dataframes
elements_df = pd.DataFrame(json["elements"])
elements_types_df = pd.DataFrame(json["element_types"])
teams_df = pd.DataFrame(json["teams"])
# print("Elements head", elements_df.head()) # Method
# print("Elements columns", elements_df.columns) # Method
s_elements_df = elements_df[['second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]
s_elements_df.head() # Method

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

            second_name  team  ...  value_season total_points
0                  Özil     1  ...           0.0            0
1      Papastathopoulos     1  ...           0.0            0
2  Luiz Moreira Marinho     1  ...           0.0            0
3            Aubameyang     1  ...           0.6            7
4                Soares     1  ...           0.0            0

[5 rows x 9 columns]

Manipulating and sorting the data in the dataframe

Note: value = points / cost

In [21]:
# Adding the team name and the position
s_elements_df['position'] = s_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)
s_elements_df['team'] = s_elements_df.team.map(teams_df.set_index('id').name)
s_elements_df['value'] = s_elements_df.value_season.astype(float)
del s_elements_df["value_season"]
print("FILTERED ACCORDING TO VALUES (values = cost / points)")
s_elements_df.sort_values("value", ascending=False).head(25)

FILTERED ACCORDING TO VALUES (values = cost / points)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         second_name            team  ...    position value
27         Magalhães         Arsenal  ...    Defender   3.0
511            Saïss          Wolves  ...    Defender   3.0
372         Hendrick       Newcastle  ...  Midfielder   2.8
131            James         Chelsea  ...    Defender   2.8
241         Castagne       Leicester  ...    Defender   2.5
114     Frello Filho         Chelsea  ...  Midfielder   2.4
170            Digne         Everton  ...    Defender   2.0
239           Justin       Leicester  ...    Defender   2.0
140           Guaita  Crystal Palace  ...  Goalkeeper   2.0
26   Borges Da Silva         Arsenal  ...  Midfielder   1.7
281            Salah       Liverpool  ...  Midfielder   1.7
378            Lewis       Newcastle  ...    Defender   1.6
118            Zouma         Chelsea  ...    Defender   1.6
509            Coady          Wolves  ...    Defender   1.6
248            Klich           Leeds  ...  Midfielder   1.6
172         Pickford         Everton  ...  Goalkeeper   1.6
160             Dann  Crystal Palace  ...    Defender   1.6
158         Mitchell  Crystal Palace  ...    Defender   1.5
7               Leno         Arsenal  ...  Goalkeeper   1.4
353           Darlow       Newcastle  ...  Goalkeeper   1.4
356        Lascelles       Newcastle  ...    Defender   1.3
149         Townsend  Crystal Palace  ...  Midfielder   1.3
74          Trossard        Brighton  ...  Midfielder   1.3
14           Holding         Arsenal  ...    Defender   1.3
225            Vardy       Leicester  ...     Forward   1.3

[25 rows x 10 columns]

Creating a weightage which will allow to choose players with high value AND greater

In [22]:
s_elements_df['total_points'] = s_elements_df.total_points.astype(float)
s_elements_df['weighted_assignments'] = (s_elements_df['value'] * 0.6) + s_elements_df['total_points'] * 0.4
print("FILTERED ACCORDING TO WEIGHTED ASSIGNMENTS")
s_elements_df.sort_values("weighted_assignments", ascending=False).head(25)

FILTERED ACCORDING TO WEIGHTED ASSIGNMENTS

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         second_name            team  ...  value weighted_assignments
281            Salah       Liverpool  ...    1.7                 9.02
511            Saïss          Wolves  ...    3.0                 7.80
27         Magalhães         Arsenal  ...    3.0                 7.80
131            James         Chelsea  ...    2.8                 7.28
372         Hendrick       Newcastle  ...    2.8                 7.28
241         Castagne       Leicester  ...    2.5                 7.10
26   Borges Da Silva         Arsenal  ...    1.7                 6.62
114     Frello Filho         Chelsea  ...    2.4                 6.24
170            Digne         Everton  ...    2.0                 6.00
225            Vardy       Leicester  ...    1.3                 5.98
140           Guaita  Crystal Palace  ...    2.0                 5.20
239           Justin       Leicester  ...    2.0                 4.80
248            Klich           Leeds  ...    1.6                 4.56
172         Pickford         Everton  ...    1.6                 4.16
509            Coady          Wolves  ...    1.6                 4.16
118            Zouma         Chelsea  ...    1.6                 4.16
149         Townsend  Crystal Palace  ...    1.3                 3.98
74          Trossard        Brighton  ...    1.3                 3.98
376           Wilson       Newcastle  ...    1.2                 3.92
153             Zaha  Crystal Palace  ...    1.1                 3.86
179    Calvert-Lewin         Everton  ...    1.1                 3.86
378            Lewis       Newcastle  ...    1.6                 3.76
160             Dann  Crystal Palace  ...    1.6                 3.76
510          Jiménez          Wolves  ...    0.9                 3.74
7               Leno         Arsenal  ...    1.4                 3.64

[25 rows x 11 columns]